body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

main{
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;

}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 2rem;
    background-color: white;
    margin: 0 -1rem;;
    padding: 1rem;
}
#display-name {
    font-family: cursive;
    color: rgb(88, 88, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}
#change-btn {
    font-family: cursive;
    
}
